<div class="country__card">
    <img class="country-flag" width="60" height="60" src="{{this.flags.svg}}" alt="Country flag">
   
    <h2 class="country-name__card">{{name.official}}</h2>
    <ul class="country-info">
        <li class="country-item">
            <p class="capital"> <span>Capital:</span>  {{this.capital}}</p>
        </li>
        <li class="country-item">
            <p class="population"> <span>Population:</span>  {{this.population}}</p>
        </li>
        <li class="country-item">
            <p class="languages"> <span>Languages:</span>  {{this.languages}}</p>
        </li>
    </ul>
</div>